/* 
	Good habits after CSS reset.
	
	Thanks:
	http://yui.yahooapis.com/2.8.1/build/base/base.css
*/
body { 
	font:13px/1.231 sans-serif; 
	color:#333;
	background-color:#fff;
	*font-size:small;
}


/* enable HTML5 elements */
article, aside, details, footer, header, hgroup, menu, nav, section { 
	display:block;
}

a {
	color:#navy;	
}

a:hover {
	text-decoration:underline;		
}

/* headings */
h1 { font-size: 170%; }
h2 { font-size: 150%; }

/* bolded */
h3,h4,h5,h6,strong,th,dt { font-weight: bold; }

em,caption {
	font-style:italic;		
}

/* block level elements */
h4,h5,h6,p,table,ul,ol {
	margin:1em 0;		
}

/* fix a common typography mistake */
h1,h2,h3,h4,h5,h6	 { color:#000; margin-bottom:-10px; }

/* listings */
li {
	margin-left:1.6em;		
}

/* horizontal rule */
hr {
	border:1px solid #ddd;
	border-width:1px 0 0;
	margin:1em 0;	
}

/* table */
td {
	padding-right:2em;		
}

caption {
	caption-side:bottom;
	font-size:0.9em;
	padding-top:0.5em;
	text-align:right;
}

/* form elements */
input, select, textarea {
	padding:0.1em 0.2em;		
	border:1px solid #ddd;
	border-color:#999 #999 #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input[type="checkbox"], input[type="radio"] { 
	vertical-align: text-top;
	border:0;
}

label {
	cursor:pointer;
	font-size:90%;	
}

textarea {
	width:100%;		
}

blockquote {
	margin:1.5em;		
}

pre,code {
	font-family:"courier new",monospace;	
}

select {
	background-color:#fff;		
}

/* buttons are always buttons */
button {
	padding:.1em .5em;
	border:1px solid #999;
	border-color:#ddd #bbb #999;
	cursor:pointer;
	color:#333;
	background-image: -moz-linear-gradient(#f9f9f9, #ddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ddd));
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

button:active {	
	border:1px inset #ccc;	
	-moz-box-shadow:0 0 3px #0066FF;
}

dd {
	margin-bottom:.5em;		
}

/* clearfix */
.clear { 
	zoom: 1; 
}

.clear:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
