
th {
	border-bottom:1px solid #E4E4E4;
	background:-moz-linear-gradient(#fff, #eee);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));	
	text-shadow:0 0 1px #fff;
}

thead {
	border-top:1px solid #f5f5f5;		
}

td  {	
	border-bottom:1px solid #E4E4E4;		
}

td, th {
	padding:.3em 2.5em .3em .4em;	
}

