
.col { 
	float:left; 
	margin-right:15px; 
}

/* be subtle */
.shadow {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.rounded, .box, .highlight { 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;			
}

.box, .highlight { 
	padding:.75em;
	background:#eee;
	background:-moz-linear-gradient(#f9f9f9, #fff);	
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#fff));
	border:1px solid #fff;	
	-moz-box-shadow: 0 0 1px #999;
	-webkit-box-shadow: 0 0 1px #999;				
}

.nocssshadow .box {
	border:1px solid #ddd;	
}

.box.light {
	background:-moz-linear-gradient(#fff, #eee);		
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));	
}

.box.dark {
	background:-moz-linear-gradient(#444, #000);	
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#000));			
}

.box.inset {
	-moz-box-shadow:0 0 3px #999 inset;
	-webkit-box-shadow: 0 0 3px #999 inset;
	border:0;
}

.box.wide {
	margin:0 -1.2em;
	padding:.75em 1.2em;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;		
}
